/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

	1. 	Typography
	2. 	Navbar
	3.  Table
	4.  Buttons

>>> Color codes

Dark Blue: #354871
black: #282828
Teal: #83FFC3
White: #F6F6F6
Grey: #EBEBEB

----------------------------------------------------------------------------- */
.wrapper {
  margin: 0 auto;
  max-width: 80%;
}
body {
  background-color: #f6f6f6;
  color: #282828;
  font-family: Montserrat, Helvetica, sans-serif;
  letter-spacing: 1px;
}
/* -------------------------------------------------------------------------- */
/*	1. Typography
/* -------------------------------------------------------------------------- */

h1 {
  color: #354871;
  font-size: 2rem;
  font-style: normal;
  font-variant: normal;
}

p {
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
}

/* -------------------------------------------------------------------------- */
/*	2. Navbar
/* -------------------------------------------------------------------------- */

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

li {
  float: left;
}

li a {
  color: white;
  display: block;
  padding: 14px 0px;
  text-align: center;
  text-decoration: none;
}

header {
  background-color: #f6f6f6;
  -webkit-box-shadow: 0 2px 40px 1px rgba(57, 63, 72, 15%);
  -moz-box-shadow: 0 2px 40px 1px rgba(57, 63, 72, 15%);
  box-shadow: 0 2px 40px 1px rgba(57, 63, 72, 15%);
  width: 100%;
}

/* -------------------------------------------------------------------------- */
/*	3. Table
/* -------------------------------------------------------------------------- */

#properties {
  border-collapse: collapse;
  border-left: 1px solid rgba(229, 229, 229, 0.25);
  border-right: 1px solid rgba(229, 229, 229, 0.25);
  text-align: center;
  width: 100%;
}

#properties td {
  border-bottom: 1px solid rgba(229, 229, 229, 0.25);
  padding: 12px;
}

#properties th {
  padding: 12px;
}

#properties tr:hover {
  background-color: #ebebeb;
}

#properties th {
  background-color: #354871;
  color: white;
  padding-top: 14px;
  padding-bottom: 14px;
}

#properties th:first-of-type {
  border-radius: 0.3rem 0 0 0;
}

#properties th:last-of-type {
  border-radius: 0 0.3rem 0 0;
}
/* -------------------------------------------------------------------------- */
/*	4. Buttons
/* -------------------------------------------------------------------------- */

.button {
  background-color: #83ffc3;
  border-radius: 0.3rem;
  color: #282828;
  font-size: 16px;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
}

.button:nth-child(2) {
  margin: 0 20px;
}

.button-space {
  display: flex;
  justify-content: lex-start;
  padding: 25px 0;
  width: 40%;
}
